.sec-partners{
	text-align: center;
	font-size: 12px;
	color:#000;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 4em;
}
.sec-partners .carousel{
	display: flex;	
  	justify-content:space-between;  	
  	align-items:center;
  	margin-top: 1.666em;
  	margin-bottom: 1.666em;
}
.sl-partners{
	width: calc(78vw - 18em);
}

.slick-track {
    display: flex;
    align-items: center;
}
.sl-partners img{
	margin: 0 auto;
}

.sec-partners .title{
	margin: 2.25em 0;
}
@media only screen and (min-width: 1400px) {
	section.sec-partners{
		font-size: 14px;
	}
}